.users-container {
    padding: 20px 30px;
    background-color: #F1F7FE;
    border-radius: 10px;
}

.logo-plus {
    font-size: 60px;
    padding: 30px;
    border-radius: 50%;
    background-color: #3D4785;
    color: #FFF;
}